@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");

body {
  margin: 0rem;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.2rem;
  line-height: 1.65;
  color: #393d41;
}
h1 {
  font-size: 2.3rem;
  line-height: 100%;
}
h2 {
  font-size: 1.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: bold;
  color: #25a2c3;
  line-height: 100%;
  margin: 1.6rem;
}
h3 {
  margin-bottom: 1.2rem;
}
section {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}
.redbckgnd h3 {
  font-size: 2rem;
}
.c_auth {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.c_auth :last-child {
  font-size: 70%;
}
header {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  margin-bottom: 4rem;
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
header button {
  margin: 2rem;
  padding: 1rem;
  background-color: #f04c2f;
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: none;
}
.topbanner {
  background-color: black;
  padding: 2rem;
}
.topbanner img {
  width: 40%;
}
.ldv {
  max-width: 70%;
  border-radius: 100%;
  margin-top: 1em;
}
main section {
  padding-bottom: 1rem;
}
.redbckgnd {
  background-color: #e22d0e;
  color: white;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}
.redbckgnd h3,
h5 {
  color: white;
}
em {
  font-style: oblique;
}
.epicode_garantisce {
  margin: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: solid;
  border-radius: 5px;
  border-color: #dee1e3;
  padding-bottom: 2.3rem;
}
.epicode_garantisce img {
  max-width: 100%;
}
footer {
  background-color: #25a2c3;
  color: white;
  padding: 2rem;
  padding-bottom: 6rem;
  margin-top: 5rem;
}
footer a {
  display: inline-block;
  color: #c8e7f0;
}
footer h2 {
  color: white;
}
.phone::before {
  content: "\f098";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.mail::before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.address::before {
  content: "\f279";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
hr {
  max-width: 60%;
}
